*{
   
 margin: 0;
  padding: 0;
  box-sizing: border-box; 


  .visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }
}
:root{
  
 
  
  --cor-text: #ffffff;
  --cor-text-cel:  #472663;
  --cor-button: #ff703e;
  --cor-info1:#835fa8;
  --cor-info2:#f4f8fb;
  --cor-footer: #1a2124;
  font-family: "Open Sans", serif;
  h2{
    font-size: 40px;
    font-weight: 300;
  }
  h1{
    font-size: 54px;
    font-weight: 300;
  }
  

}