.sobre{
  display: flex;
  height: 502px;
  width: 100%;
  h3{
    
    
    font-size: 32px;
    font-style: italic;
    font-weight: 300;
  }
  .info_1{
    background-color: var(--cor-info1);
    width: 50%;
    color: var(--cor-text);
  h3{
    margin-top: 200px;
  }
  }
  .info_2{
    background-color: var(--cor-info2);
    width: 50%;
    color: #232323;
    
    
    p{
      width: 100%;
      margin-top: 25px;
      margin-left: 41px;
    }
    img{
      width: 59px;
      height: 59px;
      border-radius: 50%;
     
    } 
    .img_nome{
        display: flex;
        gap: 2rem;
      }
      
    .tex_info_2{
      margin-left: 41px;
      margin-top: 200px;
      max-width: 300px;
     
      p{
        margin: 0;
      }
      
      
    }
    .pontos{
        display: flex;
        gap: 0.3rem;
        margin-left: 41px;
        .ponto{
        width: 10px;
        height: 10px;
      }
      .ponto:nth-child(1){
        cursor: pointer;
        background-color: black;
        border-radius: 5px;
      }
      .ponto:nth-child(2),.ponto:nth-child(3){
        cursor: pointer;
        background-color: #aeaeae;
        border-radius: 5px;
      }
      }
  }
}